* {
  color: #182026;
  box-sizing: border-box;
}

.menu-active {
  background-color: #e2e8f0;
}

.bg-hazy-100 {
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(255, 255, 255, .8);
}

.blur-100 {
  filter: blur(10px);
}

.sk {
  background: linear-gradient(90deg,#f2f2f2 25%,#e6e6e6 37%,#f2f2f2 63%);
  background-size: 400% 100%;
  animation: bgChange 1.4s ease infinite;
}

@keyframes bgChange {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
