* {
  color: #182026;
  box-sizing: border-box;
}

.menu-active {
  background-color: #e2e8f0;
}

.bg-hazy-100 {
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(255, 255, 255, .8);
}

.blur-100 {
  filter: blur(10px);
}

.sk {
  background: linear-gradient(90deg,#f2f2f2 25%,#e6e6e6 37%,#f2f2f2 63%);
  background-size: 400% 100%;
  animation: bgChange 1.4s ease infinite;
}

@keyframes bgChange {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

html {
  scroll-behavior: smooth;
}

.a-content h3 {
  border-bottom: 3px solid #eee;
  padding-bottom: .5rem;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.a-content h3::before {
  display: block;
  content: " ";
  height: 64px;
  margin-top: -64px;
  visibility: hidden;
}

.a-content p {
  line-height: 1.8rem;
  font-size: 16px;
  margin-bottom: 16px;
}

.subtitle-li {
  border-left: 2px solid #eee;
}

.subtitle-li.active {
  border-left: 2px solid #106ba3;
}

.subtitle-li.active a {
  font-weight: 700;
  color: #106ba3;
}

.cate.active {
  color: #106ba3;
  font-weight: 500;
  position: relative;
}

.cate.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background-color: #106ba3;
}

.cate-box {
  padding: 12px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.tag.active {
  background-color: #106ba3;
  color: #fff;
}
